button {
    margin: 24px;
    padding: 16px 20px;
    font-size: 16px;
    background-image: linear-gradient(to left top, $color1,$color2);
    color: $color-font-lgt;
    border-radius: 26px;
    border:0;
    box-shadow: $shadow;
    &:hover {
        background-image: linear-gradient(to left top, lighten($color1, 10%), lighten($color2, 10%));
        box-shadow: 0 6px 8px darken($color-bg, 20%);
    }
}