body:not(i) {
    font-family: $font-main;
  }

h1 {
    padding-bottom: 12px;
}

h2 {
    font-size: 18px;
    padding: 12px 0 6px 12px;
}

h3 {

}

p {
    font-weight:300;
    padding: 0 12px;
}

a {
    color:inherit;
    text-decoration: inherit;
}

.font-logo {
    font-family: $font-logo;
    font-size:30px;
}