body:not(i) {
    font-family: $font-main;
  }

h2 {
    font-size: 18px;
}

p {
    font-weight:300;
}

a {
    color:inherit;
    text-decoration: inherit;
}

.font-logo {
    font-family: $font-logo;
    font-size:30px;
}