@keyframes spinner {
    0%, 100% {
        color: $color1;
        transform: scale(1);
    }
    40% {
        color: $color2;
        transform: scale(1.2);
    }
    80% {
        color: $color3;
        transform: scale(0.8);
    }
}

@keyframes disapear {
    0% {
        z-index:2;
        opacity:1;
    }
    100% {
        z-index:-1;
        opacity:0;
    }
}

.loader {
    z-index: 2;
    position:absolute;
    width: 100%;
    height:100%;
    background: rgba($color-bg,90%);
    text-align: center;
    animation: disapear 0s 3s;
    animation-fill-mode: forwards;
    &__square {
        width:160px;
        margin:300px auto;
    }
    i {
        width:50px;
        font-size:30px;
        line-height: 50px;
    }
    .fa-utensils, .fa-fish, .fa-carrot {
        animation: spinner 2.5s linear;
        animation-fill-mode: both;
        animation-iteration-count: 1.2;
    }
    .fa-fish {
        animation-delay: 250ms;
    }
    .fa-carrot {
        animation-delay: 500ms;
    }
}

.localisation {
    padding: 15px;
    text-align: center;
    background-color: $color-bg2;
    box-shadow: inset 0 2px 2px $color-shadow;
}

input {
    background-color: inherit;
    margin-left:12px;
    border :0;
    font-size: 16px; 
}

.concept {
    @include m-devices {
        display:flex;
        margin:auto;
        justify-content: space-between;
        width:92%;
        max-width:1000px;
    }
}

.presentation {
    text-align: center;
    background-color: $color-bg;
    padding : 28px 5%;
    h1 {
        padding: 11px 8%;
    }
    p {
        font-size:18px;
    }
    @include m-devices {
        width: 40%;
        margin:46px 0;
        padding:10px 4%;
        border-radius: 26px;
        box-shadow: $shadow;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        h1 {
            padding: 12px;
        }
    }
}

.operating {
    margin: 46px 5%;
    .step {
        background-color: $color-bg;
        padding:27px 10px;
        border-radius: $radius;
        margin : 24px 0 0 12px;
        box-shadow: $shadow;
        &:hover {
            background-color: lighten(saturate($color1, 44%),36%);
            i {
                color:$color1;
            }
        }
    }
    p {
        display:inline;
        font-weight:500;
    }
    p:first-of-type {
        color:$color-font-lgt;
        font-size: 13px;
        background-color: $color1;
        padding:4px 8px;
        border-radius: 12px;
        position: relative;
        left:-19px;
    }
    i {
        font-size:18px;
        color:$color-font-med;
        width:35px;
    }
    @include m-devices {
        width: 45%;
        margin:46px 5%;
        &__step:last-of-type {
            margin-bottom:0;
            padding-bottom:0;
        }
    }
}

.restaurants {
    background-color: $color-bg;
    padding: 53px 5%;
    h1 {
        padding-bottom: 6px;
    }
    .card {
        display: block;
        background-color: white;
        border-radius: $radius-card;
        overflow: hidden;
        margin: 17px 0;
        position:relative;
        box-shadow: $shadow;
        &__label {
            background-color: $color3;
            color: darken($color3, 40%);
            border-radius: 2px;
            font-size :14px;
            font-weight: 500;
            text-align: center;
            line-height: 30px;
            width:80px;
            position: absolute;
            top :15px;
            right:15px;
        }
        div {
            width:80px;
            height:30px;
            position: absolute;
            top :15px;
            right:15px;
            box-shadow: 0 3px 5px $color-shadow;
            mix-blend-mode: multiply;
        }
        img {
            object-fit:cover;
            object-position: bottom;
            width:100%;
            height:175px;
        }
        .portrait {
            object-position: center -153px;
        }
        h2 {
            padding: 12px 0 3px 15px;
        }
        h2+p {
            padding: 0 0 17px 15px;
        }
        i {
            font-size:24px;
            position:absolute;
            bottom:32px;
            right:16px;
        }
        .fas {
            color: transparent;
            -webkit-background-clip: text;
            transition: all 1s;
            background-image: linear-gradient($color1, $color2);
            background-repeat:no-repeat;
            z-index:1;
            background-position: 0 32px;
            &:hover {
                background-position: 0 0;
                cursor:pointer;
            }
        }
    }
    @include s-devices {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        h1 {
            width:100%;
        }
        .card {
            width: 48%;
        }
    }
    @include m-devices {
        margin: 0 auto 46px auto;    
        width:92%;
        max-width:1000px;
        padding:36px 4%;
        border-radius: 26px;
        box-shadow: $shadow;
    }
    @include desktop {
        .card {
            width: 31%;
        }
    }
}