footer {
    background-color: #353535;
    padding: 20px 12px;
    color:white;
    .font-logo {
        padding-bottom: 16px;
        font-size: 16px;
    }
    p {
        font-weight: normal;
        line-height: 1.6;
    }
    i {
        width:24px;
        font-size:12px;
    }
}