header {
    p {
        text-align: center;
        padding:12px 0 6px 0;
    }
    a {
        font-size:20px;
        position:absolute;
        width:89%;
        max-width:1000px;
        top:20px;
        left:0;
        right:0;
        margin:auto;
    }
}